{% extends "layout.html" %}
{% block title %}
    Contact
{% endblock %}

{% block main %}
    <h1 class="ms-2">Contact Us</h1>

    <p class="ms-2">Thank you for visiting AstroApp. If you wish to contact us for any reason regarding the website, please submit a form below! We will reply as soon as possible.</p>

    <form class="row mx-0" method="POST" action="/contact">
        <div class="col-md-6 mb-3">
            <label class="form-label" for="name">Name</label>
            <input type="text" placeholder="e.g. John" class="form-control" id="name" name="name" required>
            <p class="form-text">First name will do.</p>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="username">Username</label>
            {% if session %}
            <input type="text" class="form-control" value="{{ username }}" id="username" name="username" readonly disabled>
            
            {% else %}
            <input type="text" class="form-control" placeholder="e.g. j.smith1" id="username" name="username">
            
            {% endif %}
            <p class="form-text">If you don't have an account, leave blank.</p>
        </div>
        <div class="col-md-12">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" placeholder="e.g. j.smith123@gmail.com" id="email" type="email" name="email" required>
            <p class="form-text">We aim to reply by email within 5 working days.</p>
        </div>
        <p class="mt-3">
            What is the purpose of your message?
        </p>
        <div class="col-md-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="purpose" value="features" id="features" checked>
                <label class="form-check-label">Feature Suggestion</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="purpose" value="bugs" id="bugs">
                <label class="form-check-label">Bug Report</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="purpose" value="other" id="other">
                <label class="form-check-label">Other</label>
            </div>
        </div>
        <div class="col-md-12 my-4">
            <label class="form-label">Your message</label>
            <textarea class="form-control" rows="5" placeholder="Start typing..." name="message" required></textarea>
        </div>

        <div class="col-md-12">
            <div class="form-check">
                <label class="form-check-label">By checking, you agree that we store the details you entered on our server.</label>
                <input type="checkbox" class="form-check-input" name="data-check" aria-required="true" required>
            </div>
        </div>
        <div  class="col-md-12">
            <div class="form-check">
                <label class="form-check-label">By checking, you agree to receive occasional news and promotions from AstroApp.</label>
                <input type="checkbox" class="form-check-input" name="promo-check">
            </div>
        </div>
        
        <div class="col-12 my-3">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
{% endblock %}